.menu-item{
    border-top: 4px solid @white;
    display: block;
    height: 100%;
    color: @smokey-grey;
    span{
        position: relative;
        top: -4px;
    }
}

.menu-item:hover{
    border-top: 4px solid @pacific-blue;
}

.menu-item.active{
    border-top: 4px solid @pacific-blue;
    color: @rhino;
}

.grid-cols-2-auto{
    grid-template-columns: auto auto;
}
